h1 {
  color: red;
  text-align: center;
}
h1:first-letter {
  font-size: 2em;
}
#second {
  background-color: aqua;
}

.somefancyborder {
  border: 2px dashed pink;
}
.bgtest {
  background-color: black;
  color: white;
}

a:hover {
  color: white;
  background-color: orange;
}
